@{
    ViewData["Title"] = "Home Page";
}

<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <h1 class="display-4"> Build <strong>social profiles</strong> and gain revenue and profits</h1>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-primary text-center card-form">
                            <div class="card-body">
                                <h3>Sign Up Today</h3>
                                <p>Please fill out this form to register</p>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Username" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Email" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Password" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Confirm Password" />
                                    </div>
                                    <input type="submit" class="btn btn-outline-light btn-block" value="Submit" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--explore head-->
<section id="Expore-Head-Section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="py-5">
                    <h1 class="display-4">
                        Explore
                    </h1>
                    <p class="lead">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                    <a href="#" class="btn btn-outline-secondary">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--explore head end-->
<!--explore section start-->
<section class="bg-light text-muted py-5" id="Explore-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/explore-section1.jpg" class="img-fluid mb-3 rounded-circle" />
            </div>
            <div class="col-md-6">
                <h3> Explore & Connect</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Create section end-->
<section id="Create-Head-Section" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="py-5">
                    <h1 class="display-4">
                        Create
                    </h1>
                    <p class="lead">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                    <a href="#" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Create head end-->
<!--Create section start-->
<section class="py-5" id="Create-section">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h3>Create</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/Images/create-section1.jpg" class="img-fluid mb-3 rounded-circle" />
            </div>
        </div>
    </div>
</section>
<!--Create section end-->
<!-- share head start-->
<section id="Share-Head-Section" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="py-5">
                    <h1 class="display-4">
                        Share
                    </h1>
                    <p class="lead">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                    <a href="#" class="btn btn-outline-light">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--share head end-->
<!--share section start-->
<section class="bg-light text-muted py-5" id="Share-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/share-section1.jpg" class="img-fluid mb-3 rounded-circle" />
            </div>
            <div class="col-md-6">
                <h3>Share</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--share section end-->