
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Mizuxe.cshtml";
}
<!--Showcase-->
<section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="row mx-0">
            <div class="col-lg-6 text-center">
                <h3 class="display-2 mt-5 pt-5"> So What You Dream Off</h3>
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <a href="#" class="btn btn-outline-secondary text-white btn-lg"><i class="fa fa-arrow-right"></i>Read More</a>
            </div>
            <div class="col-lg-6">
                <img src="~/Images/book.png" class="img-fluid"/>
            </div>
        </div>
    </div>
</section>

